 <%- include('partials/head') %>
<div class="container text-white" style="width:60%;height:100%">
       <h1 class="text-primary">Login</h1>
   <form method="POST" action="/login" >
       <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
       </div>

       <div class="mb-3">
          <label for="password" class="form-label">Password</label>
           <input type="password" class="form-control" id="password" name="password" placeholder="Password">
       </div>

        <button type="submit" class="btn btn-success">Login</button>
   </form>

    <div class="mb-3 mt-3">
        <p>New User ? <a href="/register">Signup</a></p>
    </div>

</div>
